@font-face {
  font-family: 'iconfont';  /* project id 559246 */
  src: url('//at.alicdn.com/t/font_559246_g19opjvffji.eot');
  src: url('//at.alicdn.com/t/font_559246_g19opjvffji.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_559246_g19opjvffji.woff') format('woff'),
  url('//at.alicdn.com/t/font_559246_g19opjvffji.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_559246_g19opjvffji.svg#iconfont') format('svg');
}

.icon {
  font-family: 'iconfont';
}
